h1,p{
    color: rgb(17, 17, 18);
    font-size: 40px;
    text-align: center;
}
nav{
    background-color: rgb(92, 92, 155);
    color: white;
    padding: 10px;
    text-align: left;
}
nav a{
    color: white;
    text-decoration: none;
    padding: 10px;
}
ul{
    list-style-type: none;
    padding: 0;
    position: relative;
    ;
}
li{
    display: inline;
    margin: 0 10px;
}
li a:hover{

    color: rgb(153, 148, 148);
}
html{
    font-family: Arial, sans-serif;
    background-color: #a19e9e;
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}